 [data-md-color-scheme="mo"] {
  --md-primary-fg-color:        #111111;
  --md-primary-fg-color--light: #32a2ff;
  --md-primary-fg-color--dark:  #1a3edb;
}

.md-header__inner .md-header__button.md-logo img {
  height: 2rem;
}
.md-grid{
  max-width: 100%;
}
.md-sidebar {
  text-align: left;
  white-space: nowrap;
}
.md-nav__list{
  padding-left: 1.5rem !important;
}

.md-nav__title {
  font-size: 0.9rem;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.85);
}
.md-nav__item{
  padding: 0.1rem 0;
}

h1{
  font-weight: 800 !important;
  line-height: 1.25;
  margin-bottom: 16px;
  font-size: 2em;
  padding-bottom: .3em;
  margin: -1.5rem 0 -0.15em !important;
}
h2 {
  font-weight: 800 !important;
  border-bottom: 1px solid #d8dee4;
  padding-bottom: 0.3rem;
  margin: 1em 0 .64em !important;
}
h3 {
  font-weight: 800 !important;
}
h4 {
  font-weight: 800 !important;
}
h5 {
  font-weight: 800 !important;
}
h6 {
  font-weight: 800 !important;
}
.md-sidebar__scrollwrap{
  scrollbar-width: none;
}
.md-content{
  position: relative;
  top: 1rem;
}
.md-main__inner{
  margin-top:0rem;
}